@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a97142), to(#000));
  background-image: linear-gradient(#a97142, #000);
}

.styleLink {
  text-decoration: none;
  color: #a97142;
}

body {
  font-family: "Playfair Display", serif !important;
}

.hover_btn:hover {
  border: none;
  background-color: #a97142;
}

.hover_btn:hover .styleLink {
  color: whitesmoke;
}

.Carousel {
  position: relative;
}

.Carousel .Carousel__Item {
  height: 100vh;
}

.Carousel .Carousel__Item img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.Carousel .carousel-indicators [data-bs-target] {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}

.Carousel .Carousel__layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: whitesmoke;
}

.Carousel .Carousel__layer h1 {
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 10px;
}

.Carousel .Carousel__layer h3 {
  letter-spacing: 3px;
}

.Carousel Button {
  background-color: transparent;
  border: #6d482a 2px solid;
  padding: 10px 20px;
  color: whitesmoke;
}

.Carousel Button:hover {
  background-color: #6d482a;
}

#Navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

#Navbar .Nav--light {
  color: lightgrey;
}

#Navbar .cart-icon {
  background-color: #6d482a;
  color: whitesmoke;
  width: 18px;
  border-radius: 20%;
  position: absolute;
  top: 43%;
  left: 51%;
}

.FeaturedProduct__btn {
  color: #a97142;
  border: #a97142 1px solid;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

#Products {
  background-color: #f2eee8;
  padding: 4rem 0;
}

#Products .products__container {
  border: 1px solid #a97142;
}

#Products .brdr__right {
  border-right: 1px solid #a97142;
}

#Products .footer__product {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #a97142;
  color: #a97142;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Products .section2 .sec__img {
  width: 200px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  #Products .brdr__right {
    border-right: none;
    border-bottom: 1px solid #a97142;
  }
  #Products .footer__product {
    height: 30%;
  }
  #Products .footer__lg {
    height: 10%;
  }
}

#FeaturedProduct {
  background-color: #f2eee8;
}

#FeaturedProduct .FeaturedProduct__item {
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px #a97142;
  border-right: none;
}

#FeaturedProduct .FeaturedProduct__item img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#Articles {
  background-color: #f2eee8;
}

#Articles .Articles__img {
  border: #a97142 1px solid;
}

#Articles .Articles__contant .brdr {
  margin: 15px 0;
  width: 200px;
  height: 1px;
  background-color: #a97142;
}

#Articles .room__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.room__content .br {
  position: relative;
}

.room__content .br::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  left: 30px;
  top: 0;
  background-color: #a97142;
}

.room__content .brdrLeft {
  width: 400px;
  height: 1px;
  background-color: #a97142;
}

.room__content p::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  left: 0;
  top: 40px;
  background-color: #a97142;
}

.room__content .hh {
  position: absolute;
  left: -25px;
  top: 70px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

footer {
  background-color: #d2a27a;
  padding-bottom: 20px;
  position: relative;
}

footer::after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  right: 0;
  left: 0;
  top: -20%;
  z-index: 10;
  height: 45px;
  background-size: 45px 100%;
  background-image: linear-gradient(135deg, #d2a27a 25%, transparent 25%), linear-gradient(225deg, #9f7e63 25%, transparent 25%);
  background-position: 0 0;
}

@media only screen and (max-width: 1200px) {
  footer::after {
    display: none;
  }
}

footer button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6d482a;
  color: #393939;
}

footer input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6d482a;
}

footer input:focus {
  outline: none;
}

footer input::-webkit-input-placeholder {
  color: #6d482a;
}

footer input:-ms-input-placeholder {
  color: #6d482a;
}

footer input::-ms-input-placeholder {
  color: #6d482a;
}

footer input::placeholder {
  color: #6d482a;
}

footer p {
  color: #393939;
}

footer h5 {
  padding-bottom: 0;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  color: #393939;
  text-decoration: none;
}

footer ul li a:hover {
  color: #393939;
}

#Category {
  background-color: #f2eee8;
}

#Category .nav-link {
  color: #393939;
}

#Category .nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #a97142;
  color: #a97142;
  -webkit-box-shadow: 0 0 2px #888888;
          box-shadow: 0 0 2px #888888;
}

#Category .img-style {
  width: 100px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#Category .box-shadow {
  -webkit-box-shadow: 0 5px 5px #d0b39a;
          box-shadow: 0 5px 5px #d0b39a;
}

#login form,
#register form {
  background-color: #f4e8de;
  z-index: 20;
  width: 380px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .form-box,
#register .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(210, 162, 122, 0.1);
  width: 400px;
  height: 440px;
}

#login .form-box .btn,
#register .form-box .btn {
  border: solid 2px #6d482a;
}

#login .form-box input,
#register .form-box input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6d482a;
}

#login .form-box input:focus,
#register .form-box input:focus {
  outline: none;
}

#login .form-box input::-webkit-input-placeholder,
#register .form-box input::-webkit-input-placeholder {
  color: #6d482a;
}

#login .form-box input:-ms-input-placeholder,
#register .form-box input:-ms-input-placeholder {
  color: #6d482a;
}

#login .form-box input::-ms-input-placeholder,
#register .form-box input::-ms-input-placeholder {
  color: #6d482a;
}

#login .form-box input::placeholder,
#register .form-box input::placeholder {
  color: #6d482a;
}

#login .form-box h3,
#register .form-box h3 {
  color: #393939;
  font-weight: 500;
}

#login .form-box::before,
#register .form-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#d2a27a));
  background: linear-gradient(0deg, transparent, #d2a27a);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation: animate infinite linear 6s;
          animation: animate infinite linear 6s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#Bag {
  padding-top: 5rem;
  padding-bottom: 9.3rem;
  background-color: #f2eee8;
}

#Bag .bag-img {
  width: 90px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

#Bag .bag_img {
  width: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#Bag .bag_img:hover {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

#Bag .clear_btn {
  color: #a97142;
  border: #a97142 1px solid;
  padding: 6px 12px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: larger;
}

#Bag .clear_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Bag span {
  border: solid 1px #a97142;
  padding: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */